/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 5px; /* Adjust gap as needed */
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
}

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  background-color: #eae2b7; width: 600px; margin: auto;
}

/* Set the font family for any h1, h2, or h3 heading */
h1 {font-family: "Playfair Display", Times, serif;
    text-align: center;}
h2  {font-family: "Playfair Display", Times, serif;
  text-align: center;}
h3 {
  font-family: "Playfair Display", Times, serif; text-align: center;
}

article { 
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle { border-radius: 50%;
               border: 2px solid #003049;
}

a:link    { color: #d62828;  }
a:visited { color: red;   }
a:hover   { color: #f77f00; }
a:active  { color: pink;  }

footer {text-align: center; }
